.modal {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  background-color: transparent;
  z-index: 1000;
  animation: fadeIn 0.5s, fadeOut 0.5s 9.5s forwards;

  &__content {
    background: @light_black;
    opacity: 0.8;
    padding: 20px 40px;
    border-radius: 50px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
  }

  &__body {
    color: @white;
    font-family: @bold;
    font-size: 12px;
    filter: brightness(200%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img {
    width: 100%;
    max-width: 24px;
    height: 100%;
    max-height: 24px;
    object-fit: contain;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      top: 0;
    }
    to {
      opacity: 1;
      top: 20px;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      top: 20px;
    }
    to {
      opacity: 0;
      top: 0;
    }
  }
}